/* Stile generale del body */
body {
    font-family: Arial, sans-serif; /* Font sans-serif per una lettura chiara del testo */
    background-color: #f4f4f4; /* Sfondo neutro per garantire accessibilità a tutti gli utenti e per non distrarre dal contenuto */
    margin: 0;
    padding: 0;
}

/* Stile per il link di salto al contenuto (di fondamentale importanza per l'accessibilità) */
.skip-link {
    position: absolute;
    top: -40px; /* Nasconde il link fuori dallo schermo */
    left: 0;
    background: #0056a1;
    color: white;
    padding: 8px;
    z-index: 100;
    transition: top 0.3s;
}

/* Visualizza il link quando ottiene il focus (es. durante la navigazione da tastiera) */
.skip-link:focus {
    top: 0;
}

/* Stile per l'header */
header {
    background-color: #0056a1; /* Colore blu per richiamare l'identità visiva del brand */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Stile per il contenuto principale */
main {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px; /* Angoli arrotondati per un design moderno e accogliente */
}

/* Stile per il footer */
footer {
    text-align: center;
    background: #ddd;
    padding: 10px;
}

/* Contenitore delle card */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

/* Card dinamiche */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    flex: 0 0 30%;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

/* Stile per il link all'interno della card */
.card a {
    text-decoration: none;
    color: #0056a1;
    font-weight: bold;
}
